@media all and (max-width: 1399px) {
    .imn-hero-left-heading-text h1 {
        font-size: 56px;
    }
    .imn-hero-left-heading-text h4 {
        font-size: 35px;
       
    }
    .imn-hero-right-content img {
        max-width: 550px;
    }
    .child-inm-engine-tab-right-content h5 small {
        max-width: 225px;
    }


}


@media all and (min-width: 1200px) {
    .imn-header-nav-content {
        display: flex !important;
    }
}

@media all and (max-width: 1199px) {
    .mobile-menu-icon {
        display: block;
      }
      .mobile-menu-icon img {
        width: 25px;
        height: auto;
    }
    .imn-header-nav-menu ul li a {
        color: #ffffff;
    }
    nav.imn-header-nav-content {
        flex-direction: column;
        position: absolute;
        width: 100%;
        top: 110px;
        left: 0;
        background: #000;
        padding: 40px 0;
        z-index: 9;
        display: none;
    }

    .imn-header-nav-menu ul,.imn-header-nav-button {
        flex-direction: column;
    }
    .imn-header-nav-menu ul li a,.imn-header-nav-button a {
        margin: 10px 0;
    }
 .imn-header-nav-button a {
    background-color: transparent;
        border: 1px solid transparent;
        color: #FFFFFF;
        padding: 0;
    }
    .imn-header-nav-button a:hover {
        background-color: transparent;
        color: #FFFFFF;
    }
    .imn-hero-left-content {
        flex: 0 0 100%;
        padding-top: 20px;
    }
    .imn-hero-right-content {
        flex: 0 0 100%;
    }
    .imn-hero-right-content img {
        max-width: 550px;
        margin: 0 auto;
        display: block;
    }
    .imn-hero-left-client-counts.desktop {
        display: none;
    }
    .imn-hero-left-client-counts.mobile {
        display: block;
        margin-bottom: 25px;
    }

    .similar-bg-color {
        padding: 60px 15px;
    }
    .single-inm-engine-tab-right-content .child-inm-engine-tab-right-content {
        margin: 50px 0;
    }
    .single-inm-engine-tab.tab-last-system {
        flex-direction: column;
    }
    .child-inm-engine-tab-right-content h5 small {
        max-width: 300px;
        margin-bottom: 0;
    }
    .single-inm-engine-tab-right-content .child-inm-engine-tab-right-content {
        margin: 0;
    }
    .single-inm-engine-tab.tab-last-system .single-inm-engine-tab-left-img img {
        width: 75%;
    }
    .single-inm-engine-tab-new-style {
        justify-content: space-between;
    }
    .single-inm-engine-tab-new-style .child-inm-engine-tab-right-content {
        flex: 0 0 48%;
    }


}

@media all and (max-width: 991px) {
    .sigle-imn-hero-left-clients-count h3 {
        font-size: 35px;
    }
    .sigle-imn-hero-left-clients-count {
        padding: 25px 20px;
        width: 215px;
        margin-right: 20px;
    }
    .sigle-imn-hero-left-clients-count h3 {
        font-size: 24px;
    }
    .sigle-imn-hero-left-clients-count p {
        font-size: 16px;
    }
    .inm-engine-tab-button button {
        margin: 0 10px;
    }
    .single-inm-engine-tab,.imn-lead-generation-content {
        flex-direction: column;
    }
    .single-inm-engine-tab-right-content .child-inm-engine-tab-right-content {
        margin: 0;
        margin-top: 20px;
    }
    .imn-lead-generation-content {
        margin-top: 30px;
    }
    .imn-lead-generation-left-content {
        margin-bottom: 25px;
    }
    .single-inm-compounding-growth-items {
        flex: 0 0 48%;
        margin: 1%;
    }
    .inm-benefits-area,.imn-lead-generation-area,.inm-select-plan-area,.imn-faq-area {
        padding: 90px 25px;
    }
    .inm-benefits-area {
        padding-bottom: 0;
    }
    .single-inm-benefits-content {
        flex: 0 0 100%;
        padding: 18px 25px;
        margin: 2% 0;
    }
    .single-inm-case-studies-content {
        flex: 0 0 100%;
        margin: 2% 0;
    }
    .inm-benefits-content,.inm-case-studies-content {
        margin-top: 45px;
    }
    .inm-engine-tab-button {
        margin-bottom: 45px;
    }
    .dark-bg-color {
        padding: 50px 15px;
    }
    .single-inm-engine-tab-new-style {
        flex-direction: column;
        gap: 0;
    }
    .single-inm-engine-tab.tab-last-system .single-inm-engine-tab-left-img img {
        width: 100%;
    }
    .child-inm-engine-tab-right-content h5 small {
        max-width: 100%;
    }

     


}

@media all and (max-width: 767px) {
    .imn-hero-left-heading-text h1 {
    font-size: 50px;
}
.imn-hero-left-heading-text h4 {
    font-size: 30px;
}
.sigle-imn-hero-left-clients-count {
    padding: 25px 15px;
    width: 175px;
    margin-right: 10px;
}
.sigle-imn-hero-left-clients-count h3 {
    font-size: 20px;
}
.sigle-imn-hero-left-clients-count p {
    font-size: 14px;
}
.imn-similar-heading h1 {
    font-size: 45px;
}
.imn-similar-heading span {
    font-size: 18px;
    width: 210px;
}
.imn-similar-heading p {
    font-size: 20px;
}
.inm-engine-tab-button button {
    padding: 10px 18px 10px 14px;
    font-size: 18px;
    margin: 0 10px;
}
.inm-engine-tab-button button span {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}
.inm-engine-tab-button button span svg {
    width: 14px;
}
.single-inm-compounding-growth-items {
    flex: 0 0 100%;
    margin: 2% 0;
}
.imn-select-plan-content {
    flex-direction: column;
    margin-top: 35px;
    align-items: center;
}
.single-imn-select-plan-content {
    margin: 15px 0;
}
.inm-footer-area  .imn-hero-left-social-icon a {
    width: 50px;
    height: 50px;
    margin: 0 10px;
    line-height: 42px;
}
.inm-footer-area  .imn-hero-left-social-icon a svg {
    width: 25px;
    height: 25px;
}
.inm-footer-area .similar-bg-color {
    padding: 45px 15px;
}
.inm-footer-copyright-text p, .inm-footer-bottom-lins a {
    font-size: 14px;
}
.sigle-imn-hero-left-clients-count {
    padding: 20px 10px;
    width: 160px;
}
.imn-hero-right-content img {
    max-width: 100%;
    margin: 0 auto;
}
.child-inm-engine-tab-right-content h5 small {
    max-width: 320px;
}


}

@media all and (max-width: 575px) {
    .imn-hero-left-heading-text h1 {
        font-size: 35px;
    }
    .imn-hero-left-heading-text h4 {
        font-size: 21px;
    }


    .sigle-imn-hero-left-clients-count h3 {
        font-size: 18px;
    }
    .sigle-imn-hero-left-clients-count p {
        font-size: 9px;
    }
    .sigle-imn-hero-left-clients-count {
        padding: 15px 8px;
        width: 30.33%;
        border-radius: 10px;
    }
    .imn-hero-left-btn, .imn-hero-left-social-icon, .imn-hero-left-client-counts {
        flex-wrap: wrap;
    }
    .similar-bg-color {
        padding: 30px 15px;
    }
    .imn-similar-heading h1 {
        font-size: 35px;
    }
    .imn-similar-heading span {
        font-size: 14px;
        width: 185px;
    }
    .imn-similar-heading p {
        font-size: 16px;
    }
    .inm-engine-tab-button button {
        padding: 5px 15px 5px 14px;
        font-size: 10px;
        margin: 0 8px;
    }
    .inm-engine-tab-button button span {
        width: 25px;
        height: 25px;
    }
    .inm-engine-tab-button button span svg {
        width: 12px;
        height: 12px;
    }
    .child-inm-engine-tab-right-content h5 span, .single-inm-compounding-growth-items h5 span, .single-inm-benefits-content h5 span {
        width: 40px;
        height: 40px;
        margin-right: 8px;
    }
    .child-inm-engine-tab-right-content h5 span svg, .single-inm-compounding-growth-items h5 span svg, .single-inm-benefits-content h5 span svg {
        width: 23px;
        height: 23px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .child-inm-engine-tab-right-content h5 small,.child-inm-engine-tab-right-content h5,.single-imn-lead-generation-left-content h5, .single-inm-compounding-growth-items h5, .single-inm-benefits-content h5 {
        
        font-size: 16px;
       
    }
    p {
      
        font-size: 12px;
       
    }
    .child-inm-engine-tab-right-content,.single-imn-lead-generation-left-content, .single-inm-compounding-growth-items, .single-inm-benefits-content {
        padding: 15px 16px;
    }
    .single-inm-compounding-growth-items {
        padding: 30px 40px;
    }
    .single-inm-case-studies-img-text img {
        width: 50px;
        height: 50px;
       
    }
    .single-inm-case-studies-img-text p,.imn-faq-content .accordion-body {
        font-size: 13px;
    }
    .single-inm-case-studies-content {
       
        padding: 20px;
       
    }
    .single-inm-case-studies-content h5,.imn-faq-content .accordion-button, .imn-faq-content .accordion-button:focus {

        font-size: 16px;
        
    }
    .inm-footer-area  .imn-hero-left-social-icon a {
        width: 40px;
        height: 40px;
        margin: 0 7px;
        line-height: 35px;
    }
    .inm-footer-area  .imn-hero-left-social-icon a svg {
        width: 18px;
        height: 18px;
    }
    .inm-investormap-logo-content img {
        width: 166px;
    }
    .inm-footer-area .similar-bg-color {
        padding: 30px 15px;
    }
    .inm-footer-area .imn-hero-left-social-icon {
        margin: 25px 0 0;
    }
    .inm-footer-copyright-text {

        padding: 30px 0;
        flex-direction: column;
    }
    
    .inm-footer-copyright-text p {
        margin-bottom: 15px;
    }
    .inm-benefits-content, .inm-case-studies-content,.imn-select-plan-content {
        margin-top: 20px;
    }
    .inm-benefits-area .imn-similar-heading span,.inm-compounding-growth-area .imn-similar-heading span {
        width: 250px;
    
    }
    .inm-hero-area {

        padding-top: 0;
        padding-bottom: 60px;
    }
    .imn-header-nav-menu ul li a:hover {
    color: #fff;
    }
    .child-inm-engine-tab-right-content h5 small {
        max-width: 250px;
    }

}


@media all and (max-width: 450px) {
    .inm-header-logo img {
        width: 200px;
       
    }
    .imn-hero-left-btn a {
        
        margin-bottom: 8px;
    }
.sigle-imn-hero-left-clients-count {
    padding: 15px 3px;
    width: 111px;
}
.inm-engine-area {
    padding: 0 10px;
}
.imn-similar-heading span {
    font-size: 11px;
    width: 120px;
    padding: 7px 0px;
}
.imn-similar-heading h1 {
    font-size: 34px;
}
.inm-benefits-area, .imn-lead-generation-area,.inm-select-plan-area {
    padding: 66px 10px;
}
.imn-lead-generation-left-content {
    margin-right: 0px;
}
.child-inm-engine-tab-right-content h5 span, .single-inm-compounding-growth-items h5 span, .single-inm-benefits-content h5 span {
    width: 45px;
    height: 45px;
}
.single-inm-compounding-growth-items {
    padding: 35px 43px;
    border-radius: 23px;
}
.container_cus{
    margin: 0px;
    padding: 0px;
}
.imn-faq-area .imn-similar-heading span {
    padding: 7px 26px;
}
.imn-faq-content {
    margin-top: 0px;
    padding: 0px 20px;
}
.imn-faq-area {
    padding-bottom: 75px;
}
.inm-footer-area .similar-bg-color {
    padding: 25px 5px;
}
.child-inm-engine-tab-right-content h5 small {
    max-width: 155px;
}
.inm-engine-tab-button button {
    padding: 5px 10px 5px 9px;
    margin: 0 4px;
}
.imn-hero-left-btn a {
    font-size: 12px;
    margin-right: 15px;
}
.imn-hero-left-social-icon a {
    width: 30px;
    height: 30px;
    line-height: 28px;
    margin-right: 12px;
}
.imn-hero-left-social-icon a svg {
    width: 15px;
    height: 15px;
}

}

